* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
  }
  
  .container {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }

  #tab-container {
    min-height: 300px;
  }
  
  h1 {
    text-align: center;  
  }
  
  ul { 
    list-style: none; 
    padding: 0;
  }
  
  button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  button:disabled:hover {
    opacity: 0.5;
  }

  button:hover {
    opacity: 0.8;
  }
  